.colors{
  position: relative;
  margin: 0 auto;
  @extend .clearfix;

  .grayBG{
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #333;
  }

  @media screen and (max-width: 1500px){
    max-width: 480px;
  }

  .color{
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    float: left;
    width: percentage(1 / 36);
    height: 0;
    margin: 10px 1px;
    padding-bottom: percentage(1 / 36);
    font-family: $monospace;
    font-size: 10px;
    line-height: 15px;
    color: black;
    text-align: center;

    @media screen and (max-width: 1500px){
      width: percentage(1 / 6);
      padding-bottom: percentage(1 / 6);
      border-width: 3px;
    }

    span{
      display: block;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
    }
  }
}