# Components/Package files
node_modules
bower_components
libs
npm-debug.log

# Final compiled directory + files
/release
/_source/css/styles.css

# Environment Variables
.env

# Misc.
.DS_Store
.sass-cache
