// =============================================================================
// Colors > Red
// =============================================================================
.red-lightest {              color: $red-lightest; }
.redBG-lightest { background-color: $red-lightest; }
.red-lighter {               color: $red-lighter; }
.redBG-lighter {  background-color: $red-lighter; }
.red-light {                 color: $red-light; }
.redBG-light {    background-color: $red-light; }
.red {                       color: $red; }
.redBG {          background-color: $red; }
.red-dark {                  color: $red-dark; }
.redBG-dark {     background-color: $red-dark; }
.red-darker {                color: $red-darker; }
.redBG-darker {   background-color: $red-darker; }
.red-darkest {               color: $red-darkest; }
.redBG-darkest {  background-color: $red-darkest; }

// =============================================================================
// Colors > Green
// =============================================================================
.green-lightest {              color: $green-lightest; }
.greenBG-lightest { background-color: $green-lightest; }
.green-lighter {               color: $green-lighter; }
.greenBG-lighter {  background-color: $green-lighter; }
.green-light {                 color: $green-light; }
.greenBG-light {    background-color: $green-light; }
.green {                       color: $green; }
.greenBG {          background-color: $green; }
.green-dark {                  color: $green-dark; }
.greenBG-dark {     background-color: $green-dark; }
.green-darker {                color: $green-darker; }
.greenBG-darker {   background-color: $green-darker; }
.green-darkest {               color: $green-darkest; }
.greenBG-darkest {  background-color: $green-darkest; }

// =============================================================================
// Colors > Blue
// =============================================================================
.blue-lightest {              color: $blue-lightest; }
.blueBG-lightest { background-color: $blue-lightest; }
.blue-lighter {               color: $blue-lighter; }
.blueBG-lighter {  background-color: $blue-lighter; }
.blue-light {                 color: $blue-light; }
.blueBG-light {    background-color: $blue-light; }
.blue {                       color: $blue; }
.blueBG {          background-color: $blue; }
.blue-dark {                  color: $blue-dark; }
.blueBG-dark {     background-color: $blue-dark; }
.blue-darker {                color: $blue-darker; }
.blueBG-darker {   background-color: $blue-darker; }
.blue-darkest {               color: $blue-darkest; }
.blueBG-darkest {  background-color: $blue-darkest; }

// =============================================================================
// Color classes and helpers > Black + White
// - Set these so they can be used like the other colorfuller colors
// =============================================================================
.white{ color: white; }
.black{ color: $black; }