#calendar .calendar-days-of-the-week{
  @extend .clearfix;

  h2{
    display: block;
    float: left;
    width: percentage(1/7);
    margin: $gutter 0 ($gutter / 2) 0;
    font-size: 18px;
    text-align: center;
    color: $green;
  }
}