#calendar header.clndr-controls{
  position: relative;
  display: block;
  width: 100%;
  @extend .clearfix;
  background-color: lighten($night, 6%);

  // =========================================================================
  // Previous + Next Buttons
  // =========================================================================
  button{
    position: absolute;
    top: 0;
    width: $gutter * 1.5;
    height: $gutter * 1.5;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: $monospace;

    &:hover{ background-color: rgba(black, 0.25); }

    span{
      overflow: hidden;
      position: relative;
      display: block;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      border-style: solid;
      font-size: 12px;
      text-indent: 100%;
      transition: border-color 0.4s ease;
    }
  }
  .clndr-previous-button{
    left: 0;

    span{
      border-width: 6px 10.4px 6px 0;
      border-color: transparent rgba(white, 0.5) transparent transparent;
    }

    &:hover span{ border-right-color: white; }
  }
  .clndr-next-button{
    right: 0;

    span{
      border-width: 6px 0 6px 10.4px;
      border-color: transparent transparent transparent rgba(white, 0.5);
    }

    &:hover span{ border-left-color: white; }
  }

  // =========================================================================
  // Current Month Header
  // =========================================================================
  h1{
    width: calc(100% - #{$gutter * 2});
    margin: 0 auto;
    padding: ($gutter / 2) 0;
    font-size: $gutter / 2;
    line-height: $gutter / 2;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
  }

}