#calendar .days{
  @extend .clearfix;

  // ###########################################################################
  // Day
  // ###########################################################################
  .day{
    z-index: 1;
    position: relative;
    display: block;
    float: left;
    width: percentage(1 / 7);
    margin: 0;
    padding: ($gutter * 0.5) 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgba(white, 0.9);

    // =========================================================================
    // Day > Week Row clear
    // =========================================================================
    &.calendar-dow-0{ clear: left; }

    // =========================================================================
    // Day > Importance Coloring
    // =========================================================================
    &.past{ color: rgba(white, 0.6); }
    &.last-month{ color: rgba(white, 0.15); }
    &.next-month{ color: rgba(white, 0.3); }

    // =========================================================================
    // Goal Streak > Start - End styling
    // =========================================================================
    .goal{
      z-index: -1;
      overflow: hidden;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: $gutter * 1.5;
      height: 8px;
      margin-left: ($gutter * -0.5);
      border-radius: $gutter;
      text-indent: -300%;

      &.streak-start,
      &.streak-end{
        width: calc(50% + #{$gutter * 0.5});
      }
      &.streak-start{ border-radius: $gutter 0 0 $gutter; }
      &.streak-end{   border-radius: 0 $gutter $gutter 0; }

      &.streak-end,
      &.streak-surrounded{
        left: 0;
        margin-left: 0
      }

      &.streak-surrounded{
        width: 100%;
        border-radius: 0;
      }
    }

    // =========================================================================
    // Goal Streak > Coloring
    // =========================================================================
    .goal-one{   background-color: rgba(lighten($red, 3%), 0.75);}
    .goal-two{   background-color: rgba(lighten($green, 3%), 0.75); }
    .goal-three{ background-color: rgba(lighten($blue, 3%), 0.75); }
  }
}