#calendar .days{
  @extend .clearfix;

  // ###########################################################################
  // Day
  // ###########################################################################
  .day{
    z-index: 1;
    position: relative;
    display: block;
    float: left;
    width: percentage(1 / 7);
    margin: ($gutter / 3) 0 ($gutter / 3) 0;
    padding-bottom: ($gutter / 2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgba(white, 0.9);

    // =========================================================================
    // Day > Week Row clear
    // =========================================================================
    &.calendar-dow-0{ clear: left; }

    // =========================================================================
    // Day > Importance Coloring
    // =========================================================================
    &.past{ color: rgba(white, 0.6); }
    &.last-month{ color: rgba(white, 0.15); }
    &.next-month{ color: rgba(white, 0.3); }

    // =========================================================================
    // Goal Streak > Start - End styling
    // =========================================================================
    // .goal{
    //   z-index: -1;
    //   overflow: hidden;
    //   display: block;
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   width: $gutter * 1.5;
    //   height: 8px;
    //   margin-left: ($gutter * -0.5);
    //   border-radius: $gutter;
    //   text-indent: -300%;

    //   &.streak-start,
    //   &.streak-end{
    //     width: calc(50% + #{$gutter * 0.5});
    //   }
    //   &.streak-start{ border-radius: $gutter 0 0 $gutter; }
    //   &.streak-end{   border-radius: 0 $gutter $gutter 0; }

    //   &.streak-end,
    //   &.streak-surrounded{
    //     left: 0;
    //     margin-left: 0
    //   }

    //   &.streak-surrounded{
    //     width: 100%;
    //     border-radius: 0;
    //   }
    // }

    $goal-dot-size: 6px;
    $goal-max-row-count: 6;

    .goals-container{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .goals{
      display: block;
      width: auto;
      margin: 0 auto;
      @extend .clearfix;

      @for $i from 1 through $goal-max-row-count {
        &.goals-count-#{$i}{ width: ($goal-dot-size * $i) + (($goal-dot-size * (2 / 3)) * ($i - 1)) }
      }
    }

    .goal{
      z-index: -1;
      overflow: hidden;
      display: block;
      float: left;
      position: relative;
      width: $goal-dot-size;
      height: $goal-dot-size;
      margin-right: $goal-dot-size * (2 / 3);
      border-radius: $gutter;
      font-size: 1px;
      text-indent: -1200%;

      &:last-child{ margin-right: 0; }
    }

    // =========================================================================
    // Goal Streak > Coloring
    // =========================================================================
    .goal-one{   background-color: lighten($red, 3%); }
    .goal-two{   background-color: lighten($green, 3%); }
    .goal-three{ background-color: #fc0; }
    .goal-four{ background-color: lighten($blue, 3%); }
    .goal-five{ background-color: lighten($gray, 3%); }
    .goal-six{ background-color: lighten($blue, 6%); }
  }
}