<form action="streeks/new">

  <fieldset>
    <label for="text">Streek Name</label>
    <input id="streek-form--name" name="streek-name" type="text" placeholder="Streek Name">
    <input type="hidden" name="country" value="">
  </fieldset>

  <fieldset>
    <label for="streek-form--colorRed">Streek Color</label>
    <input id="streek-form--colorRed" type="radio" name="streekColor" value="#ff0033">
    <input id="streek-form--colorGreen" type="radio" name="streekColor" value="#33ff33">
    <input id="streek-form--colorBlue" type="radio" name="streekColor" value="#3366ff">

    <label for="color">Custom Color</label>
    <input id="streek-form--colorCustom" name="streekColorCustom" type="color" placeholder="Custom">
  </fieldset>

  <button type="button">Submit</button>

</form>